/* styles.css */

:root {
	--recoll-search-date: 20ch;
}

.recoll-search {
	width: 100%;
	display: flex;
	flex-direction: column; /* Stack items vertically */
}

.recoll-search > .prompt-header {
	overflow: visible;
	border-bottom: 1px solid var(--background-secondary);
	padding-top: var(--size-4-1);
	padding-bottom: var(--size-4-1);
}

/*
.recoll-search > .prompt-header + .prompt-results {
	padding-top: var(--size-4-2);
}
*/

.recoll-search .prompt-header div {
    font-weight: var(--font-semibold);
}

.recoll-search-item {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: var(--size-4-2); /* Space between columns */
}

.recoll-search-item > div {
	font-family: monospace; /* Use a monospace font */
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.recoll-search-score {
	flex: 0 0 5ch;
}

.recoll-search-name {
	flex: 30 2 20ch;
}

.recoll-search-created,
.recoll-search-modified {
	flex: 3 0 var(--recoll-search-date);
}

.recoll-search-type {
	flex: 1 1 20ch;
}

.recoll-search-tags {
	flex: 10 1 20ch;
	display: flex;
	gap: var(--size-4-1); /* Space between tags */
	align-items: center;
	justify-content: flex-start; /* Align tags to the right */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.recoll-search-selectable {
    user-select: text;
}

.recoll-search-settings .setting-item-description > p {
	margin-top: var(--size-4-1);
	margin-bottom: 0;
}

@media (max-width: 1500px) {
	.recoll-search-item > div {
		font-size: var(--font-smaller);
	}

	.recoll-search-type {
		display: none;
	}
    .recoll-search-created,
    .recoll-search-modified
     {
		/*display: none;*/
    }
}
